/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-image: var(--bg-gradient);
  background-color: var(--bg-color, #fff);
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" var(--font-weight-subtitle, 400);
  color: var(font-color, #000);
  font-size: 18px;
  background-attachment: fixed;
  margin: 0 168px;
  margin-block-start: 100px;
}

@media (width <= 375px) {
  .page {
    margin: 100px 0;
  }
}